web/WEB-INF/booking.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.w3schools.com"
           xmlns="http://www.w3schools.com"
           elementFormDefault="qualified">

    <xs:element name="booking">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="flight" type="xs:string"/>
                <xs:element name="booker" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>
